Repository semigroups/Semigroups, pull requests merged in 2025-04, with the labels that each got.

#1060 Fix `TikzString` for bipartitions
  gap/tools/display.gi
  tst/standard/tools/display.tst
Labels: bug-fix

#732 Implement `IsCryptoGroup`
  doc/properties.xml
  doc/z-chap12.xml
  gap/attributes/properties.gd
  gap/attributes/properties.gi
  tst/standard/attributes/properties.tst
Labels: new-feature, gap-days-brussels-2025

#1055 Introduce `IsIrreducibleBipartition` and `IrreducibleComponentsOfBipartition`
  doc/bipart.xml
  doc/z-chap03.xml
  gap/elements/bipart.gd
  gap/elements/bipart.gi
  tst/standard/elements/bipart.tst
Labels: new-feature, gap-days-brussels-2025

#1054 PermuteMultiplicationTable, refactor OnMultiplicationTable, add docs
  GNUmakefile.in
  doc/isomorph.xml
  gap/attributes/isomorph.gi
  src/isomorph.cpp
  src/isomorph.hpp
  src/pkg.cpp
  tst/standard/attributes/isomorph.tst
Labels: waiting-for-creator-input, gap-days-brussels-2025

#936 Add `OnePseudoInverseOfSemigroupElement` method for more types
  doc/attr.xml
  doc/maxplusmat.xml
  doc/z-chap11.xml
  gap/greens/acting.gi
  gap/main/setup.gd
  gap/main/setup.gi
Labels: enhancement, gap-days-brussels-2025
